<div class="font-[sans-serif]">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="max-w-md w-full">
      <div class="p-8 rounded-2xl bg-white shadow-xl">
        <h2 class="text-gray-800 text-center text-2xl font-bold">Регистрация</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-4">
          
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Имя пользователья</label>
            <input formControlName="username" type="text" class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-gray-600" placeholder="Введите имя пользователья" />
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block">Пароль</label>
            <input formControlName="password" type="password" class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-gray-600" placeholder="Введите пароль" />
          </div>

          <div>
            <label class="text-gray-800 text-sm mb-2 block">Подтвердите пароль</label>
            <input formControlName="confirmPassword" type="password" class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-gray-600" placeholder="Введите пароль" />
          </div>

          <div class="!mt-8">
            <button type="submit" [disabled]="registerForm.invalid" class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-black focus:outline-none">
              Регистрация
            </button>
          </div>
          
          <p class="text-gray-800 text-sm !mt-8 text-center">Уже есть аккаунт? <a href="/login" class="text-gray-600 hover:underline ml-1">Логин</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
