<div class="pt-20">
  <section
    class="relative p-6 md:p-12 pb-0 md:pb-0 shadow-sm bg-gray-100 rounded-md flex items-start md:items-end flex-col md:flex-row gap-4 justify-between min-h-64 overflow-hidden"
    role="banner"
    aria-labelledby="main-heading"
  >
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat blur-[3px]"
      style="
        background-image: url(../../../assets/img/Англ_для_детей.jpg);
        z-index: 0;
        filter: brightness(0.5);
      "
      aria-hidden="true"
    ></div>

    <div
      class="flex flex-col md:flex-row gap-8 w-full relative z-[1] items-center"
    >
      <div class="flex flex-col gap-4 pb-12 w-full md:w-1/2">
        <h1
          id="main-heading"
          class="text-3xl text-white md:text-5xl lg:text-[70px] text-start font-bold"
        >
          <span class="block sm:inline-block">
            <!-- {{ "mainPage.title1" | translate }} -->
            <span class="underline">
              <span>{{ "mainPage.grow" | translate }}</span>
              {{ "mainPage.title2" | translate }}
            </span>
          </span>
        </h1>
        <p class="text-base text-white sm:text-lg lg:text-xl" role="doc-subtitle">
          {{ "mainPage.subtitle" | translate }}
        </p>
        <div
          routerLink="/courses"
          class="flex cursor-pointer flex-col md:flex-row items-start gap-2"
          role="button"
          tabindex="0"
          aria-label="Перейти к курсам ICD School"
        >
          <a
            class="inline-flex text-white items-center justify-center text-lg sm:text-xl lg:text-2xl lg:p-4 p-3 rounded-md font-medium bg-[#0f172a] hover:bg-[#292b32]"
            aria-label="Присоединиться к курсам ICD School"
          >
            <img
              width="24"
              loading="lazy"
              src="../../../assets/img/thunder.gif"
              alt="Анимированная иконка молнии"
            />
            {{ "mainPage.join" | translate }}
          </a>
        </div>
      </div>
      <div
        class="w-full md:w-1/2 flex sm:justify-end justify-center items-center"
        role="complementary"
        aria-label="Форма регистрации"
      >
        <app-registration-form></app-registration-form>
      </div>
    </div>

    <!--
    <img
      class="w-64 sm:w-72 md:w-80 lg:w-[435px]"
      src="../../../assets/svg/hey.svg"
      alt=""
    />
    -->
  </section>
</div>

<main role="main">
  <section aria-labelledby="offers-heading">
    <app-offers></app-offers>
  </section>
  
  <section id="team" aria-labelledby="team-heading">
    <app-team></app-team>
  </section>
  
  <section aria-labelledby="students-heading">
    <app-students></app-students>
  </section>
  
  <section aria-labelledby="carousel-heading">
    <app-carousel></app-carousel>
  </section>
  
  <section aria-labelledby="interests-heading">
    <app-intersts></app-intersts>
  </section>
</main>
