<section class="pt-36">
  <div class="mx-auto flex flex-col max-w-[58rem] items-center space-y-4 text-center">
    <h2 class="text-3xl sm:text-3xl md:text-6xl font-semibold leading-[1.1] ">Наши студенты</h2>
    <p class="sm:text-lg font-semibold text-gray-600 max-w-[85%] sm:leading-7">Ознакомьтесь с отзывами наших читателей и их впечатлениями от книг.</p>
  </div>
  <img class="w-full mx-auto md:w-2/3" loading="lazy" decoding="async" src="../../../assets/svg/heads.svg" alt="students">
</section>