<footer>
  <div class="mx-auto max-w-7xl overflow-hidden px-5 py-10 sm:py-12 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12">
      <div class="pb-6 flex items-center justify-center">
        <a class="inline-flex items-center justify-center rounded-md text-sm font-medium hover:underline " href="">О нас</a>
      </div>
      <div class="pb-6 flex items-center justify-center">
        <a class="inline-flex items-center justify-center rounded-md text-sm font-medium hover:underline " href="">42 Подкаст</a>
      </div>
      <div class="pb-6 flex items-center justify-center">
        <a class="inline-flex items-center justify-center rounded-md text-sm font-medium hover:underline " href="">Курсы</a>
      </div>
      <div class="pb-6 flex items-center justify-center">
        <a class="inline-flex items-center justify-center rounded-md text-sm font-medium hover:underline " href="">FAQ</a>
      </div>
    </nav>
    <div class="mt-10 mx-auto flex justify-center space-x-10">
      <!-- <a href=""><img class="w-6 sm:w-8" src="../../../assets/svg/github.svg" alt=""></a> -->
      <a href="https://www.instagram.com/icd_school_edu?igsh=MTdvb2kycnhseW1lZA=="><img class="w-6 sm:w-8" src="../../../assets/svg/insta.svg" alt=""></a>
      <a href="https://t.me/ICD_school_admin"><img class="w-6 sm:w-8" src="../../../assets/svg/telegramm.svg" alt=""></a>
      <!-- <a href=""><img class="w-6 sm:w-8" src="../../../assets/svg/twittwe.svg" alt=""></a>
      <a href=""><img class="w-6 sm:w-8" src="../../../assets/svg/yt.svg" alt=""></a> -->
    </div>
    <p class="text-center mt-4">2024 book.tj </p>
  </div>
</footer>
