<footer>
  <div class="mx-auto max-w-7xl overflow-hidden px-5 py-10 sm:py-12 lg:px-8">
    <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12">
      <div class="grayscale hover:grayscale-0 pb-6 flex items-center justify-center gray-hover cursor-pointer">
        <img width="150" src="../../../assets/img/meta.png" alt="">
      </div>
      <div class="grayscale hover:grayscale-0 pb-6 flex items-center justify-center gray-hover cursor-pointer">
        <img width="150" src="../../../assets/img/meta.png" alt="">
      </div>
      <div class="grayscale hover:grayscale-0 pb-6 flex items-center justify-center gray-hover cursor-pointer">
        <img width="150" src="../../../assets/img/meta.png" alt="">
      </div>
      <div class="grayscale hover:grayscale-0 pb-6 flex items-center justify-center gray-hover cursor-pointer">
        <img width="150" src="../../../assets/img/meta.png" alt="">
      </div>
    </nav>
    <div class="mt-10 mx-auto flex justify-center space-x-10">
      <a href="https://www.instagram.com/icd_school_edu?igsh=MTdvb2kycnhseW1lZA=="><img class="w-6 sm:w-8" src="../../../assets/svg/insta.svg" alt=""></a>
      <a href="https://t.me/ICD_school_admin"><img class="w-6 sm:w-8" src="../../../assets/svg/telegramm.svg" alt=""></a>
      <a href="https://wa.me/992115558555"><img class="w-6 sm:w-8" src="../../../assets/svg/whatsapp.svg" alt=""></a>

    </div>
  </div>
</footer>