<footer class="bg-white">
<!-- Обернём в group-hover контейнер -->
<div class="relative overflow-hidden py-10 group">
  <div class="whitespace-nowrap flex gap-10 animate-slide group-hover:[animation-play-state:paused]">
    <!-- Дважды повтор логотипов -->
    <div class="flex gap-10 shrink-0 items-center">
      <img class="w-16 h-16 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/1.png" alt="" />
      <img class="w-24 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/2.png" alt="" />
      <img class="w-52 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/3.png" alt="" />
      <img class="w-52 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/4.jpg" alt="" />
      <img class="w-24 h-10 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/5.png" alt="" />
      <img class="w-24 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/6.jpg" alt="" />
    </div>
    <div class="flex gap-10 shrink-0 items-center">
      <!-- Повтор тех же -->
      <img class="w-16 h-16 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/1.png" alt="" />
      <img class="w-24 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/2.png" alt="" />
      <img class="w-52 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/3.png" alt="" />
      <img class="w-52 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/4.jpg" alt="" />
      <img class="w-24 h-10 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/5.png" alt="" />
      <img class="w-24 h-24 grayscale hover:grayscale-0 cursor-pointer" src="../../../assets/img/6.jpg" alt="" />
    </div>
  </div>


    <!-- Соцсети -->
    <div class="mt-10 mx-auto flex justify-center space-x-10">
      <a href="https://www.instagram.com/icd_school_edu?igsh=MTdvb2kycnhseW1lZA==">
        <img class="w-6 sm:w-8" src="../../../assets/svg/insta.svg" alt="Instagram" />
      </a>
      <a href="https://t.me/ICD_school_admin">
        <img class="w-6 sm:w-8" src="../../../assets/svg/telegramm.svg" alt="Telegram" />
      </a>
      <a href="https://wa.me/992115558555">
        <img class="w-6 sm:w-8" src="../../../assets/svg/whatsapp.svg" alt="WhatsApp" />
      </a>
    </div>
  </div>
</footer>
