<section class="py-28">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mb-16">
      <h2
        class="text-4xl font-manrope text-center font-bold text-gray-900 leading-[3.25rem]"
      >
        Часто задаваемые вопросы
      </h2>
    </div>

    <div
      *ngFor="let item of faqItems; let i = index"
      class="accordion py-8 px-6 border-b border-solid border-gray-200 transition-all duration-500 rounded-2xl hover:bg-gray-100"
    >
      <button
        class="accordion-toggle text-lg group inline-flex items-center justify-between leading-8 text-gray-900 w-full transition duration-500 text-left hover:text-indigo-600"
        (click)="toggleItem(i)"
      >
        <h5>{{ item.question }}</h5>
        <svg
          class="text-gray-500 transition-transform duration-500 group-hover:text-indigo-600"
          [ngClass]="{'rotate-180': item.open}"
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.5 8.25L12.4142 12.3358C11.7475 13.0025 11.4142 13.3358 11 13.3358C10.5858 13.3358 10.2525 13.0025 9.58579 12.3358L5.5 8.25"
            stroke="currentColor"
            stroke-width="1.6"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>

      <div
        class="accordion-content transition-all duration-500 overflow-hidden"
        [ngClass]="{'open': item.open}"
      >
        <p class="text-base text-gray-900 leading-6">
          {{ item.answer }}
        </p>
      </div>
    </div>
  </div>
</section>
