<section class="py-8 dark:bg-transparent md:py-12 lg:py-24">
  <div class="relative flex flex-col md:flex-row items-end">
    <div class="flex flex-col items-start space-y-4 text-left py-4">
      <h2 class="font-semibold text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Что вас ожидает?
      </h2>
      <p
        class="text-left max-w-[65%] leading-normal text-gray-600 font-medium sm:text-lg sm:leading-7"
      >
        Изучите основы программирования у профессионалов за 42 дня в
        интерактивной среде обучения программированию!
      </p>
    </div>
    <img
      width="200"
      loading="lazy"
      decoding="async"
      height="131"
      class="relative -mb-4 dark:filter"
      style="color: transparent"
      src="../../../assets/svg/look_down.svg"
      alt="team"
    />
  </div>
  <div
    class="z-0 mx-auto grid justify-center gap-4 sm:grid-cols-2 md:grid-cols-3"
  >
    <div class="info_blocks">
      <div class="info_blocks_dw">
        <img
          width="200"
          height="200"
          decoding="async"
          loading="lazy"
          class="w-20 h-20"
          src="../../../assets/svg/interactive.svg"
          alt="team"
        />
        <div>
          <h3 class="font-bold">Интерактивные укори</h3>
          <p class="text-sm">
            Научитесь программировать в своем собственном темпе
          </p>
        </div>
      </div>
    </div>
    <div class="info_blocks">
      <div class="info_blocks_dw">
        <img
          width="80"
          height="80"
          decoding="async"
          loading="lazy"
          class="w-20 h-20"
          src="../../../assets/svg/books.svg"
          alt="team"
        />
        <div>
          <h3 class="font-bold">Уроки высокого качества</h3>
          <p class="text-sm">Изучите интересные уроки за 42 дня</p>
        </div>
      </div>
    </div>
    <div class="info_blocks">
      <div class="info_blocks_dw">
        <img
          width="80"
          height="80"
          decoding="async"
          loading="lazy"
          class="w-20 h-20"
          src="../../../assets/svg/mix.svg"
          alt="team"
        />
        <div>
          <h3 class="font-bold">Возможность перекрестного обучения</h3>
          <p class="text-sm">
            Изучите основы программирования по 3 направлениям за 42 дня
          </p>
        </div>
      </div>
    </div>
    <div class="info_blocks">
      <div class="info_blocks_dw">
        <img
          width="80"
          height="80"
          decoding="async"
          loading="lazy"
          class="w-20 h-20"
          src="../../../assets/svg/backend.svg"
          alt="team"
        />
        <div>
          <h3 class="font-bold">Основы бэкэнда</h3>
          <p class="text-sm">Изучите основы бэкэнда</p>
        </div>
      </div>
    </div>
    <div class="info_blocks">
      <div class="info_blocks_dw">
        <img
          width="80"
          height="80"
          decoding="async"
          loading="lazy"
          class="w-20 h-20"
          src="../../../assets/svg/frontend.svg"
          alt="team"
        />
        <div>
          <h3 class="font-bold">Основы Фронтенд</h3>
          <p class="text-sm">Изучите основы фронтенда</p>
        </div>
      </div>
    </div>
    <div class="info_blocks">
      <div class="info_blocks_dw">
        <img
          width="80"
          height="80"
          decoding="async"
          loading="lazy"
          class="w-20 h-20"
          src="../../../assets/svg/mobile.svg"
          alt="team"
        />
        <div>
          <h3 class="font-bold">Основы мобайл разработки</h3>
          <p class="text-sm">Изучите основы мобайл разработки</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto text-center pt-12 pb-4 text-gray-600 font-medium md:max-w-2xl"
  >
    <p class="leading-normal sm:text-lg sm:leading-7">
      Через 42 дня вы изучите основы программирования и выберете одно из 3
      направлений!
    </p>
  </div>
  <div class="flex items-center justify-center py-3">
    <a class="inline-flex text-white items-center justify-center text-lg sm:text-xl lg:text-2xl lg:p-3 p-2 rounded-md font-medium bg-[#0f172a] hover:bg-[#292b32]" href="/">
      <img width="24" loading="lazy" src="../../../assets/img/thunder.gif" alt=""> Присоединиться
    </a>
  </div>
</section>
