<section class="space-y-6 pt-36">
  <div class="mx-auto flex flex-col items-center leading-[1.1] text-center">
    <h2 class="font-semibold text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
      Команда
    </h2>
    <p
      class="max-w-[85%] leading-normal sm:text-lg sm:leading-7 text-gray-600 font-semibold pt-5"
    >
      Изучайте программирование у экспертов с международным опытом
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4">
    <div
      class="card"
    >
      <div class="card_img">
        <img
          width="120"
          height="120"
          loading="lazy"
          decoding="async"
          class="rounded-full"
          src="../../../assets/img/azimjon.jpg"
          alt="member"
        />
        <h3 class="card_text">
          Azamjon Pulatov
          <a class="inline-block ml-2" href="/"
            ><img
              width="16"
              height="16"
              src="../../../assets/svg/linkedin.svg"
              alt=""
          /></a>
        </h3>
        <p class="text-sm text-gray-600">Software Engineer Google, Ex-Amazon, Ex-Facebook</p>
      </div>
      <div class="card_company_logo">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/google.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/amazon.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/meta.png" alt="Google">
      </div>
    </div>
    <div
      class="card"
    >
      <div class="card_img">
        <img
          width="120"
          height="120"
          loading="lazy"
          decoding="async"
          class="rounded-full"
          src="../../../assets/img/azimjon.jpg"
          alt="member"
        />
        <h3 class="card_text">
          Azamjon Pulatov
          <a class="inline-block ml-2" href="/"
            ><img
              width="16"
              height="16"
              src="../../../assets/svg/linkedin.svg"
              alt=""
          /></a>
        </h3>
        <p class="text-sm text-gray-600">Software Engineer Google, Ex-Amazon, Ex-Facebook</p>
      </div>
      <div class="card_company_logo">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/google.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/amazon.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/meta.png" alt="Google">
      </div>
    </div>
    <div
      class="card"
    >
      <div class="card_img">
        <img
          width="120"
          height="120"
          loading="lazy"
          decoding="async"
          class="rounded-full"
          src="../../../assets/img/azimjon.jpg"
          alt="member"
        />
        <h3 class="card_text">
          Azamjon Pulatov
          <a class="inline-block ml-2" href="/"
            ><img
              width="16"
              height="16"
              src="../../../assets/svg/linkedin.svg"
              alt=""
          /></a>
        </h3>
        <p class="text-sm text-gray-600">Software Engineer Google, Ex-Amazon, Ex-Facebook</p>
      </div>
      <div class="card_company_logo">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/google.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/amazon.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/meta.png" alt="Google">
      </div>
    </div>
    <div
      class="card"
    >
      <div class="card_img">
        <img
          width="120"
          height="120"
          loading="lazy"
          decoding="async"
          class="rounded-full"
          src="../../../assets/img/azimjon.jpg"
          alt="member"
        />
        <h3 class="card_text">
          Azamjon Pulatov
          <a class="inline-block ml-2" href="/"
            ><img
              width="16"
              height="16"
              src="../../../assets/svg/linkedin.svg"
              alt=""
          /></a>
        </h3>
        <p class="text-sm text-gray-600">Software Engineer Google, Ex-Amazon, Ex-Facebook</p>
      </div>
      <div class="card_company_logo">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/google.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/amazon.png" alt="Google">
        <img width="120" height="24" loading="lazy" decoding="async" class="h-8 object-contain" src="../../../assets/img/meta.png" alt="Google">
      </div>
    </div>
  </div>
</section>
